    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
          <li>
            <a href="https://github.com/ckauten" class="icon brands fa-github"><span class="label">GitHub</span></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/cameronkauten/" class="icon brands fa-linkedin"
              ><span class="label">Linkedin</span></a
            >
          </li>
          <li>
            <a href="https://twitter.com/CameronKauten" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li><a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </footer>
      <script src="js/main.js"></script>
    </body>
  </html>