<!DOCTYPE html>
<html>
  <head>
    <title>Prevail</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="is-preload">
    <!-- Header -->
    <header id="header">
      <h1>PREV<span id="ai">AI</span>L</h1>
      <p>An AI assisted mental health resource.</p>
    </header>
  </body>
</html>
