<%- include('partials/homeHeader') -%>

<body id="home-body">
  <section class="mainContainer faq">
    <div class="menu-container">
      <i class="fa-solid fa-bars"></i>
      <nav>
        <li>
          <a href="/home" id="prev">PREV<span id="ai">AI</span>L</a>
        </li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li>
          <a id="login" href="#"><i class="fa-solid fa-user"></i>Account</a>
        </li>
      </nav>
    </div>

    <section id="faqContainer">
      <!-- first node -->
      <section onclick="faqExpand(this)" class="faq-node gooter">
        <section class="top-faq dropdown">
          <h2 class="faq-question">What is the purpose of this site?<i class="fa-solid fa-chevron-right"></i></h2>
        </section>
        <section class="bottom-faq dropdown">
          <p class="faq-answer">
            This site is an AI assisted mental health resource with guides to a better life. Whether you just want to
            chat with Grace or need the resources provided, it's all here for you!
          </p>
        </section>
      </section>
      <!-- second node -->
      <section onclick="faqExpand(this)" class="faq-node gooter">
        <section class="top-faq dropdown">
          <h2 class="faq-question">Does Grace have memory?<i class="fa-solid fa-chevron-right"></i></h2>
        </section>
        <section class="bottom-faq dropdown">
          <p class="faq-answer">
            Yes, Grace has memory. She can remember your name, your preferences, and your previous conversations. The
            information is stored in a private database and is not shared with anyone. It is only used to provide you
            with a better experience. She is built using a complex algorithm that provides her context and lets her
            track the conversation. You can clear her memory and start fresh at any time by clicking the "Clear Memory"
            button in the menu.
          </p>
        </section>
      </section>
      <!-- third node -->
      <section onclick="faqExpand(this)" class="faq-node gooter">
        <section class="top-faq dropdown">
          <h2 class="faq-question">
            How can I get in touch with a real person?<i class="fa-solid fa-chevron-right"></i>
          </h2>
        </section>
        <section class="bottom-faq dropdown">
          <p class="faq-answer">
            If you are looking for a therapist or counselor, you can find different options/paths in the resources
            section. If you are trying to contact the developers of this site, you can find their contact information in
            the about section. If you are in crisis, please look through the
            <span onclick="ESRedirect()" id="ESLink">Emergency Services</span> section in the resources page.
          </p>
        </section>
      </section>
      <!-- fourth node -->
      <section onclick="faqExpand(this)" class="faq-node gooter">
        <section class="top-faq dropdown">
          <h2 class="faq-question">
            Why does this site exist?
            <i class="fa-solid fa-chevron-right"></i>
          </h2>
        </section>
        <section class="bottom-faq dropdown">
          <p class="faq-answer">
            Because taking the first step is hard. This is a safe space for you to explore resources. Maybe what you
            need isn't so far out of reach? This site was built to hopefully be the middleman between you and a brighter
            future.
          </p>
        </section>
      </section>
      <!-- fifth node -->
      <section onclick="faqExpand(this)" class="faq-node gooter">
        <section class="top-faq dropdown">
          <h2 class="faq-question">
            How can I help improve this site?
            <i class="fa-solid fa-chevron-right"></i>
          </h2>
        </section>
        <section class="bottom-faq dropdown">
          <p class="faq-answer">
            You can help improve this site by providing feedback. You can do this by clicking the "Feedback" button in
            the menu. You can also help by sharing this site with others who may benefit from it. If you are a developer
            and would like to contribute to the codebase, you can find the GitHub repository in the about section.
          </p>
        </section>
      </section>
      <!-- sixth node -->
      <section onclick="faqExpand(this)" class="faq-node gooter">
        <section class="top-faq dropdown">
          <h2 class="faq-question">
            Is my data secure on this site?
            <i class="fa-solid fa-chevron-right"></i>
          </h2>
        </section>
        <section class="bottom-faq dropdown">
          <p class="faq-answer">
            Yes, your data is secure. We use encryption and other security measures to protect your information. Your
            data is only used to enhance your experience and is not shared with third parties. All your data is stored
            on MongoDB and is encrypted using bcrypt. Your password is hashed and salted to ensure maximum security.
          </p>
        </section>
      </section>
      <!-- seventh node -->
      <section onclick="faqExpand(this)" class="faq-node gooter">
        <section class="top-faq dropdown">
          <h2 class="faq-question">
            Can I delete my account and data?
            <i class="fa-solid fa-chevron-right"></i>
          </h2>
        </section>
        <section class="bottom-faq dropdown">
          <p class="faq-answer">
            Yes, you can delete your account and all associated data at any time. Simply go to the account settings and
            select "Delete Account."
          </p>
        </section>
      </section>
      <!-- eighth node -->
      <section onclick="faqExpand(this)" class="faq-node gooter">
        <section class="top-faq dropdown">
          <h2 class="faq-question">
            What should I do if I find a bug?
            <i class="fa-solid fa-chevron-right"></i>
          </h2>
        </section>
        <section class="bottom-faq dropdown">
          <p class="faq-answer">
            If you find a bug, please report it through the "Feedback" section. Your feedback helps us improve the site.
          </p>
        </section>
      </section>
      <!-- ninth section -->
      <section onclick="faqExpand(this)" class="faq-node gooter">
        <section class="top-faq dropdown">
          <h2 class="faq-question">
            How do I use Grace?
            <i class="fa-solid fa-chevron-right"></i>
          </h2>
        </section>
        <section class="bottom-faq dropdown">
          <p class="faq-answer">
            To use Grace, simply click on the text field on the homepage. You can ask her questions or have
            conversations to get advice, support, or just to chat.
          </p>
        </section>
      </section>
    </section>
  </section>
</body>
<%- include('partials/homeFooter') -%>
