<%- include('partials/homeHeader') -%>

<body id="home-body">
  <section class="mainContainer faq">
    <div class="menu-container">
      <i class="fa-solid fa-bars"></i>
      <nav>
        <li>
          <a href="/home" id="prev">PREV<span id="ai">AI</span>L</a>
        </li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li>
          <a id="login" href="#"><i class="fa-solid fa-user"></i>Account</a>
        </li>
      </nav>
    </div>
  </section>
</body>
<%- include('partials/homeFooter') -%>
