<%- include('partials/homeHeader') -%>

<body id="home-body">
  <section class="mainContainer">
    <div class="menu-container">
      <i class="fa-solid fa-bars"></i>
      <nav>
        <!-- logo text coloring -->
        <li>
          <a href="#" id="prev">PREV<span id="ai">AI</span>L</a>
        </li>
        <!-- other links -->
        <li><a href="#"></a>About</li>
        <li><a href="#"></a>Resources</li>
        <li><a href="#"></a>FAQ</li>
        <li><a href="#"></a>Contact</li>
        <li>
          <a id="login" href="#"><i class="fa-solid fa-user"></i>Account</a>
        </li>
      </nav>
    </div>
    <div class="main-body chat-side">
      <div class="output container">
        <h1>
          <a href="" class="typewrite" data-period="2000" data-type="">
            <span class="wrap"></span>
          </a>
        </h1>
      </div>

      <!-- user input area -->
      <form class="user-area" action="">
        <textarea class="input" id="autoresizing" placeholder="Say something!"></textarea>
        <i id="submit" type="submit" class="fa-solid fa-arrow-up"></i>
      </form>
    </div>
  </section>
</body>
<%- include('partials/homeFooter') -%>
