<%- include('partials/header') -%>
<body>
  <header>
    <nav>
      <!-- logo text coloring -->
      <li>
        <a href="#" id="prev">PREV<span id="ai">AI</span>L</a>
      </li>
      <!-- other links -->
      <li>About</li>
      <li>Resources</li>
      <li>FAQ</li>
      <li>Contact</li>
    </nav>
    <!-- ACCOUNT LOGIN -->
    <a id="login" href="#"><i class="fa-solid fa-user"></i>Account</a>
  </header>

  <!--text area -->
  <section class="mainContainer">
    <!-- terminal screen -->
    <div id="output">Hi:3</div>

    <!-- user input area -->
    <form class="user-area" action="">
      <textarea class="input" id="autoresizing" placeholder="Say something!"></textarea>
      <i id="submit" type="submit" class="fa-solid fa-arrow-up"></i>
    </form>
  </section>
  <%- include('partials/footer') -%>
</body>
