<%- include('partials/homeHeader') -%>

<body id="home-body">
  <section class="mainContainer">
    <div class="menu-container">
      <i class="fa-solid fa-bars"></i>
      <nav>
        <li>
          <a href="#" id="prev">PREV<span id="ai">AI</span>L</a>
        </li>
        <li><a href="#"></a>About</li>
        <li><a href="#"></a>Resources</li>
        <li><a href="#"></a>FAQ</li>
        <li><a href="#"></a>Contact</li>
        <li>
          <a id="login" href="#"><i class="fa-solid fa-user"></i>Account</a>
        </li>
      </nav>
    </div>
    <div class="main-body chat-side">
      <div class="output container">
        <ul class="row list-unstyled" id="chat-container">
          <li id="botLI">
            <p class="chat bot"><strong>Grace: </strong>Hello! How are you?</p>
          </li>
          <% if (chats.length>0) { %> <% for (var i = 1; i < chats.length; i++) { %>
          <li id="userLI">
            <p class="chat user"><strong>User: </strong> <%= chats[i].chat.userPrompt %></p>
          </li>
          <li id="botLI">
            <p class="chat bot"><strong>Grace: </strong> <%= chats[i].chat.botResponse %></p>
          </li>
          <% } %> <% } else { %>
          <li>No chat history available.</li>
          <% } %>
        </ul>
      </div>

      <!-- <p href="" class="typewrite" data-period="2000" data-type="">
        <span class="wrap"></span>
      </p> -->

      <!-- user input area -->
      <form class="user-area" action="" onsubmit="return false">
        <textarea
          data-gramm="false"
          data-gramm_editor="false"
          data-enable-grammarly="false"
          class="input"
          id="autoresizing"
          placeholder="Say something!"></textarea>
        <i id="submit" type="submit" class="fa-solid fa-arrow-up"></i>
      </form>
    </div>
  </section>
</body>
<%- include('partials/homeFooter') -%>
