<%- include('partials/header') -%>
<!-- Signup Form -->
<div id="container">
  <form id="signup-form" method="GET" action="/signup">
    <input type="submit" value="Sign Up" />
  </form>
  <form id="login-form" method="GET" action="/login">
    <input type="submit" value="Login" />
  </form>
</div>
<form id="guest-form" method="GET" action="/getGuest">
  <input type="submit" value="Continue as Guest" />
</form>
<%- include('partials/footer') -%>
