<%- include('partials/homeHeader') -%>

<body id="home-body">
  <section class="mainContainer resources">
    <div class="menu-container">
      <i class="fa-solid fa-bars"></i>
      <nav>
        <li>
          <a href="/home" id="prev">PREV<span id="ai">AI</span>L</a>
        </li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
        <li>
          <a id="login" href="#"><i class="fa-solid fa-user"></i>Account</a>
        </li>
      </nav>
    </div>

    <div class="resource-container">
      <div onclick="expand(this)" class="resource-boxes links">
        <span>Important Links </span>
        <div class="expanded-content">goopy snoopy poopy fart</div>
      </div>
      <div onclick="expand(this)" class="resource-boxes quick">
        <span>Quick Help</span>
        <div class="expanded-content">Einky</div>
      </div>
      <div onclick="expand(this)" class="resource-boxes emergency">
        <span>Emergency Services</span>
        <div class="expanded-content">Sum bout emergency</div>
      </div>
      <div onclick="expand(this)" class="resource-boxes edu">
        <span>Educational Material</span>
        <div class="expanded-content">we got indepentend functions baby</div>
      </div>
      <div onclick="expand(this)" class="resource-boxes professional">
        <span>Professional Resources</span>
        <div class="expanded-content">event and this come in clutch</div>
      </div>
      <div onclick="expand(this)" class="resource-boxes groups">
        <span>Groups</span>
        <div class="expanded-content">hittin da griddy in dis one</div>
      </div>
      <div onclick="expand(this)" class="resource-boxes self-help">
        <span>Self-Help Resources</span>
        <div class="expanded-content">youre loved</div>
      </div>
      <div onclick="expand(this)" class="resource-boxes community">
        <span>Community Resources</span>
        <div class="expanded-content">and alwys appreciated</div>
      </div>
    </div>
  </section>
</body>
<%- include('partials/homeFooter') -%>
