<%- include('partials/homeHeader') -%>

<body id="home-body">
  <section class="mainContainer resources">
    <div class="menu-container">
      <i class="fa-solid fa-bars"></i>
      <nav>
        <li>
          <a href="/home" id="prev">PREV<span id="ai">AI</span>L</a>
        </li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
        <li>
          <a id="login" href="#"><i class="fa-solid fa-user"></i>Account</a>
        </li>
      </nav>
    </div>

    <div class="resource-container">
      <div onclick="expand(this)" class="resource-boxes links">Important Links</div>
      <div onclick="expand(this)" class="resource-boxes quick">Quick Help</div>
      <div onclick="expand(this)" class="resource-boxes emergency">Emergency Services</div>
      <div onclick="expand(this)" class="resource-boxes edu">Educational Material</div>
      <div onclick="expand(this)" class="resource-boxes professional">Professional Resources</div>
      <div onclick="expand(this)" class="resource-boxes groups">Groups</div>
      <div onclick="expand(this)" class="resource-boxes self-help">Self-Help Resources</div>
      <div onclick="expand(this)" class="resource-boxes community">Community Resources</div>
    </div>
  </section>
</body>
<%- include('partials/homeFooter') -%>
